# --- Dependencies ---
**/node_modules/
dist/
build/
.npm
npm-debug.log*

# --- Environment & Secrets ---
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
.env.production
.DS_Store
Thumbs.db
.env

# --- DevOps & Infrastructure ---
# We keep Dockerfiles and k8s.yaml, but ignore temporary build files
.dockerignore
*.txt
project_map*

# --- Backend Specific ---
backend/.env
backend/requirements.txt

# --- IDE / Editor ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?